# MongoDB
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/fashion-shop?retryWrites=true&w=majority

# JWT Secret
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production

# Base URL
NEXT_PUBLIC_BASE_URL=http://localhost:3000

# Admin Default (untuk seed data)
ADMIN_EMAIL=admin@fashion.com
ADMIN_PASSWORD=admin123
